@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Roboto:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'MyFont';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url('./pokemonblack.jpg');
  background-size: 900px;
  font-family: 'Henny Penny', cursive;

}

.App-header {
  font-family: 'Henny Penny', cursive;
  background: url('pokeheader.jpg');

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(207, 255, 175)53, 0, 0;

}
.header {  

  font-family: 'Henny Penny', cursive;
  text-align: center;
  color: rgb(220, 255, 211);
}
.PokeItem {
  display: flex;
  flex-grow: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 300px;
  width: 200px;
  border: solid rgb(255, 217, 0) 20px;
  border-radius: 15px;
  margin: 10px;
  background-color: aqua;

}

.PokeList {
  display: flex;
  flex-wrap: wrap;
}

.pokeImage {
  display: flex;
  height: 200px;
  width: 200px;
}


.name {
  display: flex;
  font-size: 1.5rem;
  position: relative;
  bottom: 10px;
  height: 5px;
  margin-bottom: 10px;
  margin-left: 10px;

}
.attack {
  display: flex;
  position: relative;
  bottom: 30px;
  height: 0px;
  margin-left: 50px;

}
.defense {
  display: flex;
  position: relative;
  bottom: 30px;
  left: -20px;
  top: -19px;
  margin-top: 1px;
  margin-left: 50px;
  height: 5px;
}
.type {
  display: flex;
  position: relative;
  right: 5px;
  bottom: 25px;
  height: 5px;
}

.link {
  color: antiquewhite;
  font-size: 1.3rem;
  margin-left: 50px;
  position: relative;
  bottom: 30px;
}


.link2 {
  color: antiquewhite;
  font-size: 1.3rem;
  margin-left: 540px;
  position: relative;
  bottom: 30px;
}

.link3 {
  color: antiquewhite;
  font-size: 1.3rem;
  position: relative;
  right: 375px;
  bottom: 30px;
}

.dropdown {
  position: relative;
}
.sort {
  position: relative;
  bottom: 28px;
  left: 300px
}

.gif {
  margin-left: 200px;
  position: relative; 
  bottom: 100px;
  height: 100px;
  width: 200px;
}
.gif2 {
  position: relative; 
  height: 100px;
  width: 200px;
}
.prev {
  font-family: 'Henny Penny', cursive;
  position: relative;
  bottom: 75px;
  left: 50px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #152746;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.prev:hover {background-color: #008ba3}

.prev:active {
  background-color: #008ba3;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}
.next {
  font-family: 'Henny Penny', cursive;
  position: relative;
  bottom: 75px;
  left: 60px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #152746;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
}

.next:hover {background-color: #008ba3}

.next:active {
  background-color: #008ba3;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}